{
	"trailingComma": "all",
	"tabWidth": 4,
	"semi": true,
	"printWidth": 90,
	"bracketSpacing": true,
	"endOfLine": "lf",
	"useTabs": true,
	"importOrder": [
		"^@core/(.*)$",
		"^@server/(.*)$",
		"^@ui/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true,
	"plugins": [
		"@trivago/prettier-plugin-sort-imports"
	]
}