.container {
	overflow: hidden;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
}

.img {
	width: 25%;
	height: 500px;

	object-fit: cover;
}

.triggerBtn {
	display: flex;
	justify-content: flex-end;
	padding: 15px 20px;
}
