@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;

	--theme-dark: #0b0b0b;
	--theme-light: #ffffff86;
}

html,
body {
	width: 100%;
	height: 100%;
}

body::-webkit-scrollbar {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-style: normal;
}

input {
	background-color: transparent;
}

html.light {
	background-color: var(--theme-light);
	color: rgba(0, 0, 0, 0.986);
}

html.dark {
	background-color: var(--theme-dark);
	color: white;
}
