.light_theme {
	border: 2px solid black;
	margin: 0 !important;
	padding-left: 0.6rem !important;
	padding-right: 0.6rem !important;
}

.dark_theme {
	margin: 0 !important;
	padding-left: 0.6rem !important;
	padding-right: 0.6rem !important;
}

.theme {
	border-radius: 50px !important;
}
