.light_theme {
	border: 2px solid black;
	margin: 0 !important;
	padding-left: 0.6rem !important;
	padding-right: 0.6rem !important;
}

.dark_theme {
	margin: 0 !important;
	padding-left: 0.6rem !important;
	padding-right: 0.6rem !important;
}

.theme {
	border-radius: 50px !important;
}

.fz20 {
	font-size: 20px !important;
	background-color: black;
}

.fz20green {
	font-size: 20px !important;
	background-color: rgb(42, 177, 62);
	border: none;
}

.fz20blue {
	font-size: 20px !important;
	background-color: rgb(42, 109, 177);
	border: none;
}

.authBack {
	position: absolute;
	left: -90px;
	top: 25px;
	border-radius: 50% !important;
	width: 70px !important;
	height: 70px !important;
}

.authBack:hover {
	background-color: rgba(255, 255, 255, 0.132);
}
