.dark_theme {
	display: flex;
	justify-content: space-between;
	padding: 15px 20px;
	font-size: 1.3em;
	width: 100%;
	user-select: none;
	overflow: hidden;
	border-bottom: 1px solid white;
}

.light_theme {
	display: flex;
	justify-content: space-between;
	padding: 15px 20px;
	font-size: 1.3em;
	width: 100%;
	user-select: none;
	overflow: hidden;
	border-bottom: 1px solid var(--theme-dark);
}

.link {
	font-weight: 700;
	padding: 10px;
}
