.container {
	width: 500px;
	padding: 20px;
	background-color: rgb(43, 42, 42);
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.containerlight {
	width: 500px;
	padding: 20px;
	background-color: rgb(43, 42, 42);
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.containerlight > * {
	color: white;
}
